mat-card {
    color: white;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
  }

  mat-form-field {
    width: 100%;
    margin-top: 20px;
  }

  mat-option{
    color: white;
  }
  button[disabled] {
    background-color: #ccc !important; /* Cor de fundo cinza */
    color: #666 !important; /* Cor do texto */
    cursor: not-allowed;
    opacity: 1; /* Garantir que não fique translúcido */
  }
