<app-header></app-header>
<mat-card>
    <mat-card-title>Cadastro de Empresa</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Nome da Empresa</mat-label>
        <input matInput formControlName="companyName" />
        <mat-error *ngIf="form.get('companyName')?.hasError('required')">
          Nome da Empresa é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nome Fantasia</mat-label>
        <input matInput formControlName="tradeName" />
        <mat-error *ngIf="form.get('tradeName')?.hasError('required')">
          Nome Fantasia é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>CPF/CNPJ</mat-label>
        <input matInput formControlName="taxID" mask="000.000.000-00||00.000.000/0000-00" />
        <mat-error *ngIf="form.get('taxID')?.hasError('required')">
          CPF/CNPJ é obrigatório
        </mat-error>
        <mat-error *ngIf="form.get('taxID')?.hasError('invalidTaxID')">
          Deve ser um CPF ou CNPJ válido
        </mat-error>
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
        <mat-label>Contato</mat-label>
        <input matInput formControlName="phone" mask="(00) 0000-0000||(00) 00000-0000"/>
        <mat-error *ngIf="form.get('phone')?.hasError('required')">
          Contato é obrigatório
        </mat-error>
        <mat-error *ngIf="form.get('phone')?.hasError('pattern')">
          Contato deve ter entre 10 e 11 digitos
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of statuses" [value]="status.value">
            {{ status.label}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('status')?.hasError('required')">
          Status é obrigatório
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Enviar</button>
    </form>
  </mat-card>

